.footer-items {
  display: flex;
  padding-left: 9px;
  padding-top: 35px;
  color: $white;
  
  .footer-row{
    display: flex;
    justify-content: space-between;
  }

  ul li {
    display: inline-block;
    padding-left: 20px;
    font-family: $open;
  }

}
