
small {
  font-family: $raleway;
  font-size: $large;
  font-weight: $regular;
}

h1 {
  font-family: $raleway;
  font-size: $xxxx-large;
  font-weight: $bold;



}
h2 {
  font-family: $raleway;
  font-size: $xxx-large;
  font-weight: $bold;
  text-align: center;
}

h4 {
  font-family: $open;
  font-size: $medium;
  font-weight: $regular;
  line-height: 28px;
  padding-top: 30px;


}

h3 {
  font-family: $raleway;
  font-size: $x-large;
  font-weight: $bold;
  text-align: left;
}

.footer-items {
  font-family: $open;
  font-weight: $regular;
}
.prices__title {
  color: $white;
}
