
small {
  font-family: $raleway;
  font-size: $large;
  font-weight: $regular;
}

h1 {
  font-family: $raleway;
  font-size: $xxxx-large;
  font-weight: $bold;
  padding-left: 140px;

}
h2 {
  font-family: $raleway;
  font-size: $xx-large;
  font-weight: $bold;
  text-align: center;
}

h4 {
  font-family: $open;
  font-size: $medium;
  font-weight: $regular;
}

h3 {
  font-family: $raleway;
  font-size: $x-large;
  font-weight: $bold;
  text-align: left;
}
