/* Containers */

@media (max-width: $viewport-small) {
  .container {
    width: 360px;
  }
}
@media (min-width: $viewport-medium) {
  .container {
    width: 760px;
  }
}
@media (min-width: $viewport-large) {
  .container {
    width: 1170px;
  }
}
