
//Esquema de colores
$white: #fff;
$platinum: #E8E8E8;
$gray:#BABABA;

$salmon:#EE9480;
$melon:#F4BAAE;
$pink:#FADFDA;

$ball-blue:#2AB7CA;
$middle-blue:#77D1DD;
$lagoon:#B1E4EB;

$onyx:#333745;
$s-gray:#8F9199;
$lavender-gray:#C7C8CC;

$raising-black: #221D23;
$nickel: #726F73;
$silver: #AEACAF;
$black: #000000;


//Font Family

$open: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

//Peso de fuentes
$regular: 400;
$bold: 700;

//Tamaños de fuentes

$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//Breakpoints
$viewport-small:375px;
$viewport-medium:768px;
$viewport-large:1200px;

// Numbers of column
$number-columns:12;
