/*Componentes del sitio*/
body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
}

.col-6, .row {
  margin: 0;
  padding: 0;
}

hr {
  border: 1px solid #AEACAF;
}

small {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: 700;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 30px;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
}

.footer-items {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

@media (min-width: 375px) {
  .container {
    width: 340px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}
.container .row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.button_login {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-size: 16px;
  background: #fff;
  padding: 10px 20px 10px 20px;
  border: none;
  text-decoration: none;
}

.button_signup {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 16px;
  background: #2AB7CA;
  padding: 10px 20px 10px 20px;
  border: solid #AEACAF 0px;
  text-decoration: none;
}

.button_signup:hover {
  border: 0px;
  background-color: #77D1DD;
  color: #fff;
}

.button_signup:focus {
  border: 0px;
  background-color: #AEACAF;
  color: #fff;
}

.button_login, .button_signup {
  margin-top: 20px;
}

.button_getfree {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 20px;
  background: #2AB7CA;
  padding: 12px 20px 12px 20px;
  border: solid #AEACAF 0px;
  text-decoration: none;
}

.button_getfree:hover {
  border: 0px;
  background-color: #77D1DD;
  color: #fff;
}

.button_getpremium {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 20px;
  background: #2AB7CA;
  padding: 12px 20px 12px 20px;
  border: solid #AEACAF 0px;
  text-decoration: none;
}

.button_getpremium:hover {
  border: 0px;
  background-color: #77D1DD;
  color: #fff;
}

@media (min-width: 375px) {
  .button_login, .button_signup {
    display: none;
  }
}
.footer-items {
  display: flex;
  padding-left: 9px;
  padding-top: 35px;
  color: #fff;
}
.footer-items ul li {
  display: inline-block;
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 1200px) {
  header {
    padding-top: 30px;
    background-color: #fff;
  }

  i {
    display: none;
  }

  nav {
    display: flex;
  }

  .navegation {
    text-align: left;
    max-width: 100%;
    height: 75px;
    padding-top: 20px;
  }
  .navegation__logo {
    display: flex;
    justify-content: flex-start;
    top: 6px;
    left: 16px;
    padding-top: 25px;
  }
  .navegation__item {
    display: flex;
    padding-left: 9px;
    padding-top: 35px;
  }
  .navegation__item ul li {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
  }
  .navegation__item__button {
    padding-top: 35px;
  }
}
@media (min-width: 375px) {
  header {
    padding-top: 20px;
  }

  nav {
    display: none;
  }

  i {
    display: flex;
    justify-content: flex-end;
  }

  .navegation__item {
    display: none;
  }

  .navegation__button {
    display: none;
  }
}
@media (min-width: 1200px) {
  .background-box {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0%;
    height: 855px;
    background-image: url(../img/bg-hero.png);
    background-repeat: no-repeat;
  }

  .principal-section__text {
    padding-top: 40px;
  }
  .principal-section__description {
    line-height: 25px;
    padding-top: 15px;
  }

  .caracteristicas {
    height: 300px;
  }

  h2 {
    padding-top: 90px;
  }

  .caracteristicas__grafico {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
  }

  .caracteristicas__text {
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
  }

  .prices {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0%;
    height: 800px;
    background-image: url(../img/bg-price.png);
    background-repeat: no-repeat;
  }

  .prices__box {
    padding-top: 30px;
    padding-top: 200px;
  }

  .prices_text {
    color: #fff;
    text-align: center;
  }

  .container {
    margin-top: 290px;
  }

  .card-subtitle {
    text-align: left;
  }

  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }

  .card:hover {
    box-shadow: 1px 8px 12px #5b5e6a;
    transition-property: all;
  }
}
@media (min-width: 375px) {
  .background-box {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%;
    width: 390px;
    height: 377px;
    object-fit: cover;
    background-image: url(../img/bg-hero.png);
    background-repeat: no-repeat;
  }

  .principal-section__text {
    padding-top: 40px;
    padding-left: 26px;
  }

  .caracteristicas {
    height: 800px;
  }
  .caracteristicas .row {
    display: flex;
  }

  h2 {
    padding-top: 90px;
  }

  .caracteristicas__grafico {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
  }

  .caracteristicas__text {
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
  }
  .caracteristicas__text h3 {
    font-size: 30px;
  }
}
footer {
  background-color: #221D23;
  height: 150px;
}

/*# sourceMappingURL=style.css.map */
